<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>Mail créateur Tiime</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">

<body style="margin: 0; padding:10px 0; background-color: #FFFFFF;" bgcolor="#FFFFFF">
    <table style="margin: 0 auto; background-color: #FFFFFF;" width="600" cellpadding="0" cellspacing="0" border="0"
        bgcolor="#FFFFFF">
        <tr>
            <td style="padding: 30px;" align="center" cellpadding="0">
                <img style="display: block; margin: 30px 0px; padding: 0;"
                    src="https://www.tiime.fr/mailings/logo-tiime.gif" alt="Logo Tiime" width="100" height="auto" />
                <img style="display: block; margin: 0; padding: 0; margin-top: 20px;"
                    src="https://www.tiime.fr/mailings/tiime-mail-10.jpg" alt="Illustration Tiime" width="auto"
                    height="200" />
            </td>
        </tr>
        <tr>
            <td style="padding: 30px;" align="left" cellpadding="0">
                <p style="font-family: 'Nunito', sans-serif; font-weight: 700; font-size: 16px; line-height: 20px; color: #54CEFF; margin: 0;"
                    color="#54CEFF">
                    Objet : Déposez le capital social de votre société
                </p>
                <p style="font-family: 'Nunito', sans-serif; font-weight: 700; font-size: 15px; line-height: 20px; color: #8089FF; margin: 0; margin-top: 20px;"
                    color="#8089FF">
                    Bonjour {{ firstname }},
                </p>
                <p style="font-family: 'Nunito', sans-serif; font-weight: 400; font-size: 14px; line-height: 20px; color: #88A0BF; margin: 0; margin-top: 20px;"
                    color="#88A0BF">
                    Avec Ditto, la banque partenaire de Tiime, nous avons décidé ensemble de simplifier la création
                    d’entreprise et notamment le process de dépôt de capital.
                </p>
                <p style="font-family: 'Nunito', sans-serif; font-weight: 400; font-size: 14px; line-height: 20px; color: #88A0BF; margin: 0; margin-top: 20px;"
                    color="#88A0BF">
                    C’est l’heure du dépôt ? Rien de plus simple !
                </p>
                <p style="font-family: 'Nunito', sans-serif; font-weight: 700; font-size: 15px; line-height: 20px; color: #8089FF; margin: 0; margin-top: 20px;"
                    color="#8089FF">
                    Pour cela, voici la marche à suivre :
                </p>
                <ul style="font-family: 'Nunito', sans-serif; font-weight: 400; font-size: 14px; line-height: 20px; color: #88A0BF; margin: 0; margin-top: 20px; list-style: none; padding: 0 0 0 15px;"
                    color="#88A0BF">
                    <li style="margin-bottom: 5px;"><b style="color: #FF7483;">1.</b> Effectuez le virement du montant
                        du capital, en indiquant bien dans votre libellé de virement le nom de votre société.</li>
                    <li><b style="color: #FF7483;">2.</b> Voici l’IBAN sur lequel faire votre virement :</li>
                    <li style="margin-left: 16px;">IBAN : {{ iban }}</li>
                </ul>
                <p style="font-family: 'Nunito', sans-serif; font-weight: 400; font-size: 14px; line-height: 20px; color: #88A0BF; margin: 0; margin-top: 20px;"
                    color="#88A0BF">
                    Nous nous occuperons ensuite de transmettre l’attestation de dépôt à votre conseiller Tiime.
                    &#x1F609;
                </p>
                <p style="font-family: 'Nunito', sans-serif; font-weight: 700; font-size: 15px; line-height: 20px; color: #8089FF; margin: 0; margin-top: 20px;"
                    color="#8089FF">
                    Merci et à très bientôt.<br />
                    Les équipes Tiime et Ditto
                </p>
            </td>
        </tr>
        <td style="background: #54CEFF; padding: 30px 0px;" bgcolor="#54CEFF" align="center" cellpadding="0">
            <img style="display: block; margin: 0; margin-bottom: 10px; padding: 0;"
                src="https://www.tiime.fr/mailings/logo-tiime-white.gif" alt="Logo Tiime" width="70" height="auto" />
            <p style="font-family: 'Nunito', sans-serif; font-weight: 400; font-size: 14px; line-height: 20px; color: #FFFFFF; margin: 0;"
                color="#FFFFFF">
                06 99 09 17 07
            </p>
        </td>
        </tr>
    </table>
</body>

</html>